<div class="d-flex flex-column px-5">
    <navigation-app></navigation-app>
    <section class="d-flex" id="">
        <div class="col-12 col-sm-8">
            <videos-app></videos-app>
        </div>
        <div class="col-12 col-sm-4">
            <activity-app></activity-app>
        </div>
    </section>
    <section id="2" class="d-flex">
        <div class="d-flex flex-column flex-grow col-12 col-sm-8">
            <people-app></people-app>
            <documents-app></documents-app>
        </div>
        <div class="col-12 col-sm-4">
            <channel-app></channel-app>
        </div>
    </section>
    <section id="3" class="d-flex">
        <footer-app></footer-app>
    </section>
</div>