<div class="d-flex flex-column m-0">
    <navigation-app></navigation-app>
    <section class="d-flex flex-column flex-lg-row flex-grow bg-hard-grey" id="">
        <div class="col-12 col-lg-8">
            <videos-app></videos-app>
        </div>
        <div class="col-12 col-lg-4">
            <activity-app></activity-app>
        </div>
    </section>
    <section id="2" class="d-flex flex-column flex-lg-row flex-grow bg-dark-hard">
        <div class="d-flex flex-column flex-grow col-12 col-lg-8">
            <people-app></people-app>
            <documents-app></documents-app>
        </div>
        <div class="col-12 col-lg-4">
            <channel-app></channel-app>
        </div>
    </section>
    <section id="3" class="d-flex flex-column flex-lg-row flex-grow">
        <footer-app></footer-app>
    </section>
</div>