<footer id="footer" class="vw-100 h-100" style="background-color: #F5F5F7;">
    <div class="d-flex flex-column flex-grow p-3">
        <div class="d-flex justify-content-center justify-content-lg-start px-3">
            <img src="https://cdn-icons-png.flaticon.com/512/60/60580.png" class="img-fluid rounded float-start"
                alt="twitter">
            <a href="https://www.linkedin.com/in/herzafellani/" target="_blank">
                <img src="https://cdn.onlinewebfonts.com/svg/img_24873.png" class="img-fluid rounded float-start"
                    alt="linkedIn">
            </a>
            <img src="https://seeklogo.com/images/F/facebook-logo-264A8EFBA1-seeklogo.com.png"
                class="img-fluid rounded float-start" alt="facebook">
        </div>

        <nav class="navbar navbar-expand-lg nav-bg-color px-3">
            <div class="navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav">
                    <a class="nav-item nav-link text-center text-lg-left" href="#video">Videos</a>
                    <a class="nav-item nav-link text-center text-lg-left" href="#activity">Activity</a>
                    <a class="nav-item nav-link text-center text-lg-left" href="#people">People</a>
                    <a class="nav-item nav-link text-center text-lg-left" href="#document">Documents</a>
                    <a class="nav-item nav-link text-center text-lg-left" href="#channel">Channels</a>
                </div>
            </div>
        </nav>

        <div class="d-flex justify-content-center justify-content-lg-start mx-3">
            © 2023 - 2024 | Herza Fellani R
        </div>

    </div>
</footer>